<%- include("partials/header") %>

<div class="container">
  <h1>Welcome to Movie Tracker 🎬</h1>

  <a href="/movies" class="btn">View Movies</a>
  <a href="/movies/new" class="btn">Add New Movie</a>
</div>

<%- include("partials/footer") %>
